* {
  padding: 0;
  margin: 0;
}

.fondo {
  background-color: whitesmoke;
}
.carta {
  padding-left: 10%;
  padding-right: 10%;
}
.imagen {
  width: 250px;
  height: 85px;
}

.lista {
  list-style: none;
  padding: 0 !important;
}
